adb-shell==0.3.1
aiodns==2.0.0
androidtv==0.0.58
astroid==2.4.2
autopep8==1.5.6
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.4.7
feedparser==6.0.2
Flask==1.1.2
idna==2.10
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pure-python-adb==0.3.0.dev0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycodestyle==2.7.0
pycparser==2.20
pylint==2.6.0
python-dateutil==2.8.1
requests==2.24.0
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
sgmllib3k==1.0.0
six==1.15.0
slixmpp==1.7.0
soupsieve==2.0.1
strictyaml==1.4.0
toml==0.10.2
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
